@model Portelinha.Models.Cliente
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

    string str = (string)@ViewData["User_Name"];
}


<h1> @str</h1>

<br><br>

<div class="card-columns">
    <div class="card">
        <img class="card-img-top img-fluid" src="~/Images/cake.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Bolos de aniversário</h4>
            <p class="card-text">Delicie-se com os nossos bolos de aniversário! Possuímos alternativas vegetarias, sem glúten e sem lactose!</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="~/Images/insuflavel.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Insufláveis</h4>
            <p class="card-text">Insufláveis de vários tamanhos, capacidades e para todos os gostos. Um monitor irá zelar pela segurança das crianças.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="~/Images/pipocas.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Pipocas</h4>
            <p class="card-text">Máquinas de pipocas operadas por um membro do staff, a saírem quentinhas na hora. Ou então, como opção mais acessível, pipocas em pacotinhos servidas para o lanche. </p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="~/Images/trampolim.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Trampolim</h4>
            <p class="card-text">Trampolins super divertidos! Todos os nossos trampolins vêm equipados com redes para o seu filho se divertir em segurança.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="~/Images/magico.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Mágicos</h4>
            <p class="card-text">Mágicos para divertir e entusiasmar as crianças de forma didática e interessante</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="~/Images/cacaaotesouro.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Caça ao tesouro</h4>
            <p class="card-text">Caças ao tesouro para estimular as crianças a desenvolverem-se enquanto se divertem.</p>
        </div>
    </div>
</div>